@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: $sans;
  color: $key;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
}

@for $i from 1 to 7 {
  h#{$i} {
    font-size: max(2.7em - ($i * 0.4em), 1.0em);
  }
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -.1em;
}

a, a:visited {
  color: color('blue', 'base');
  text-decoration: underline;

  &:hover, &:active {
    text-decoration: none;
  }
}

blockquote {
  margin: 1em 0;
  border-left: 4px solid color('purple', 'base');
  padding: 0.3em 0 0.3em 0.5em;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @include tablet {
    flex-direction: row;
  }
}

.masthead {
  padding: 1em;
  background: double-stripe(color('primary', 'superdark'), color('green', 'darkest'));
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include tablet {
    position: fixed;
    width: 25vw;
    height: 100vh;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $sans;
  }

  a, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
  }

  h1 {
    margin-bottom: 0;
  }

  .tagline {
    margin-top: 0;
    font-size: 1.2em;
    color: color('purple', 'lightest');
    margin-bottom: 1em;
    text-align: center;
  }

  nav {
    display: flex;
    align-items: center;

    a, a:visited, a:hover, a:active {
      font-size: 1.8em;
      margin: 0 0.3em;
      color: color('purple', 'lightest');
    }

    .separator {
      display: inline-block;
      border-right: 1px solid color('purple', 'lightest');
      height: 2.4em;
      margin: 0 0.3em 0.2em 0.3em;
    }
  }
}

main {
  padding: 1em;
  width: 100%;
  font-size: 18px;
  line-height: 1.5;

  @for $i from 1 to 7 {
    h#{$i} {
      font-size: max(1.8em - ($i * 0.2em), 1.0em);
      line-height: 1.15;

      a, a:visited {
        color: color('purple', 'superdark');
        text-decoration: none;
      }
    }
  }

  @include tablet {
    text-align: left;
    padding: 1em 2em;
    position: absolute;
    left: 25vw;
    width: #{'min(70vw, 800px)'};
  }

  .page-title {
    margin: 0 0 0.5em 0;

    @include tablet {
      margin: 0.5em 0;
    }
  }

  .title {
    margin: 1em 0 0.2em 0;
  }

  .subtitle {
    margin: 0.2em 0 0.5em 0;
    color: #666;
    font-size: 1em;
    text-transform: uppercase;
    font-family: $sans;
    font-weight: normal;
  }

  @each $name, $color in $colors {
    a.hook--#{$name}, a.hook--#{$name}:visited {
      display: block;
      color: color($name, 'darkest');
      text-decoration: underline;
      text-align: left;
      margin: 0.5em 0;
    }
  }

  .blank-list {
    list-style: none;
    text-align: left;

    li {
      margin: 0.3em 0;
    }

    .fa-fw {
      font-size: 1.2em;
    }
  }
}
