@import 'utilities';

$primary: #761ada;
$blue: #1a7adb;
$orange: #db6a1a;
$red: #db1a4a;
$green: #1adb5a;
$key: #222;

$colors: (
  'primary': $primary,
  'purple': $primary,
  'blue': $blue,
  'orange': $orange,
  'red': $red,
  'green': $green,
  'gray': #888
);

$color-map: color-maps($colors);

@function color($color, $shade) {
  @return map-get($color-map, #{$color}-#{$shade});
}

$sans: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$serif: 'Shippori Mincho', 'Georgia', serif;
$mono: 'Source Code Pro', 'Courier New', 'Courier', monospace;

$breakpoints: (
  'tablet': 768px,
  'desktop': 996px,
  'lg-desktop': 1218px
);

$box-base-unit: 5px;

@function double-stripe($base, $highlight, $width: 7px, $add-start: 7px) {
  @return linear-gradient(135deg,
    $base $add-start + $width,
    $highlight $add-start + $width,
    $highlight $add-start + $width * 2,
    $base $add-start + $width * 2,
    $base $add-start + $width * 3,
    $highlight $add-start + $width * 3,
    $highlight $add-start + $width * 4,
    $base $add-start + $width * 4
  );
}
