<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ site.description }}" />

  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.tagline }}</title>

  {% if page.permalink %}
    <link rel="canonical" href="{{ site.baseurl }}{{ page.permalink }}" />
  {% endif %}
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      twemoji.parse(document.body);
    });
  </script>
</head>
<body>
  <div class="container">
    <div class="masthead">
      <h1><a href="{{ site.url }}">{{ site.name }}</a></h1>
      <p class="tagline">{{ site.tagline }}</p>
      <nav>
        {% for social_hash in site.social %}
          <a href="{{ social_hash[1] }}" aria-label="{{ social_hash[0] }}"><i class="fab fa-fw fa-{{ social_hash[0] }}"></i></a>
        {% endfor %}
      </nav>
    </div>
    <main>
      {{ content }}
    </main>
  </div>
</body>
</html>
