---
layout: default
meta_tags:
  - "og:type": article
  - "og:title": "{{ page.title | liquify }}"
  - "og:url": "{{ site.url | liquify }}{{ site.baseurl | liquify }}{{ page.url | liquify }}"
  - "og:image": "{{ site.url | liquify }}{{ site.baseurl | liquify }}/images/favicon@128.png"
  - "og:description": "{{ page.excerpt | truncate: 350 | replace: '\n', ' ' | liquify }}"
  - "description": "{{ page.excerpt | truncate: 350 | replace: '\n', ' ' | liquify }}"
  - "article:published_time": "{{ page.date | date: '%B %e, %Y' | liquify }}"
  - "article:author": "ArtOfCode"
  - "article:tags": "{{ page.tags | join: ' ' | liquify }}"
  - "author": "ArtOfCode"
  - "twitter:creator": "_ArtOfCode"
  - "twitter:description": "{{ page.excerpt | truncate: 240 | replace: '\n', ' ' | liquify }}"
---

<article class="post">
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.categories %}
    <h2 class="subtitle">
      {% assign primary_category = page.categories[0] %}
      <span class="category-tag {{ site.cat_classes[primary_category] }}">{{ primary_category }}</span>
    </h2>
  {% endif %}

  {% if page.cw %}
    <div class="fc-orange-darker fs-8">
      <i class="fas fa-exclamation-triangle"></i> <strong>Content note:</strong> {{ page.cw }}
    </div>
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>

  {% if page.tags %}
    <div class="tags">
      {% for tag in page.tags %}
        <span class="tag-blue">{{ tag }}</span>
      {% endfor %}
    </div>
  {% endif %}

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
